html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  width: 100%;
  height: 15000px;
  margin: 0;
  background: #FEFEFE;
  font-size: 1.6rem;
  font-family: 'Noto Sans JP', sans-serif;
  color: #121212;
  line-height: 1.7;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.l-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 7rem;
  background: #FEFEFE;
}
.l-header .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-header .left img {
  margin-left: 2.1rem;
}
.l-header .left p {
  margin-left: 1.6rem;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.3;
}
.l-header .left p .paragraph-bold {
  font-size: 1.8rem;
}
.l-header .right ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.l-header .right ul li {
  height: 7rem;
  line-height: 7rem;
  padding: 0 1.5rem;
  font-weight: 700;
  background: blue;
}
.l-header .right ul li:hover li {
  background: green;
  display: flex;
}
.l-header .right ul ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.l-header .right ul ul li {
  display: none;
}

.main {
  z-index: -1;
  position: relative;
  padding-top: 7rem;
}
.main .bg-img1 {
  height: 650px;
  background-image: url("../images/bg-hero1.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.main .bg-img2 {
  height: 650px;
  background-image: url("../images/bg-hero2.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.main .bg-img3 {
  height: 650px;
  width: 100%;
  background-image: url("../images/bg-hero3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.main .main-container {
  top: 8rem;
  height: 57rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.main .main-container .main-item {
  height: 32.3rem;
  width: 41.3rem;
  background: #FEFEFE;
  border-radius: 1rem;
  text-align: center;
}
.main .main-container .main-item .logo-img {
  padding-top: 4.3rem;
  width: 28rem;
}
.main .main-container .main-item p {
  padding-top: 2.1rem;
  padding-bottom: 4.7rem;
  font-weight: 700;
  line-height: 1.6;
}
.main .main-container .main-item a {
  border: 0;
  padding: 2.05rem 3.8rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  background: #2498b3;
  color: #FEFEFE;
}
.main .sub-container {
  top: 8rem;
  height: 22.78rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #000;
}
.main .sub-container .sub-items {
  margin: 0 49px 63px 49px;
  text-align: center;
}
.main .sub-container .sub-items .p-sub-title {
  margin: .2em 0 0 0;
  color: #FEFEFE;
  font-size: 2.4rem;
  font-weight: 700;
}
.main .sub-container .sub-items .p-sentense {
  margin: .5em 0 0 0;
  color: #FEFEFE;
  font-weight: 700;
  text-align: left;
  display: inline-block;
}
.main .sub-container .sub-items .circle {
  width: 218px;
  height: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 6px #000;
  background: #FEFEFE;
}
.main .sub-container .sub-items i {
  font-size: 10rem;
}

/*# sourceMappingURL=style.css.map */
