
// variables
$color--font-black: #121212;
$color--black: #000;
$color--white: #FEFEFE;
$color--green: #5DAB92;
$color--red: #ff0000;
$color--blue: #2498b3;


// mixin
@mixin breakpoint($point) {
    @if $point==tablet {
        @media (min-width: 560px) {
            @content ;
        }
    }

    @if $point==pc {
        @media (min-width: 960px) {
            @content ;
        }
    }
}


// base
html {
    font-size: 62.5%; //remを使用するための設定 ベースを16pxから10pxにする 1rem=10pxになる
}

body {
    min-width: 320px;
    width: 100%;
    //スクロールバーを表示
    height: 15000px;
    margin: 0;
    background: $color--white;
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: $color--font-black;
    line-height: 1.7;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p, figure {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

ul, ol {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}


.header {
    //flexの設定
    display: flex;
    //flexの設定 縦方向真ん中に要素を表示
    align-items: center;
    height: 7rem;
    background: $color--white;
    img {
        margin-left: 2.1rem;
    }
    p {
        //リストを右端に表示
        margin-right: auto;
        margin-left: 1.6rem;
        font-size: 1.4rem;
        font-weight: 900;
        line-height: 1.3;
        strong {
            font-size: 1.8rem;
        }
    }
    li {
        //縦方向の文字表示位置を真ん中へ
        line-height: 7rem;
        //リストの・を非表示
        list-style: none;
        //リストを横並びに 
        //・inlineだと高さが指定できない
        //・inline-blockだと横に少しのスペースができてしまう
        display: table-cell;
        //高さをヘッダータグに合わせる
        height: 7rem;
        padding: 0 1.5rem;
        font-weight: 700;
    }
    .item6 {
        background: $color--blue;
        color: $color--white;
    }
}


.main {
    top: -7rem;
    .bg-img1 {
        height: 650px;
        background-image: url("../images/bg-hero1.png");
        background-repeat: no-repeat;
        background-position: center center;
    }
    .bg-img2 {
        height: 650px;
        background-image: url("../images/bg-hero2.png");
        background-repeat: no-repeat;
        background-position: center center;
    }
    .bg-img3 {
        height: 650px;
        width: 100%;
        background-image: url("../images/bg-hero3.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed; //画面スクロールしたときに画像は固定
    }

    .main-container {
        top: 8rem;
        height: 57rem;
        position: relative;
        display: flex;
        justify-content: center;
        //border: solid medium $color--red;

        .main-item {
            height: 32.3rem;
            width: 41.3rem;
            background: $color--white;
            border-radius: 1rem;
            //メインアイテムクラス内の要素を真ん中で表示
            text-align: center;

            .logo-img {
                padding-top: 4.3rem;
                width: 28rem;
            }

            p {
                padding-top: 2.1rem;
                padding-bottom: 4.7rem;
                font-weight: 700;
                line-height: 1.6;
            }

            a {
                border: 0;
                padding: 2.05rem 3.8rem;
                border-radius: 0.5rem;
                font-size: 1.8rem;
                font-weight: 700;
                background: $color--blue;
                color: $color--white;
            }
        }
    }

    .sub-container {
        top: 8rem;
        height: 22.78rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: $color--black;

        .sub-items {
            margin: 0 49px 63px 49px; //上右下左
            //border: solid medium $color--red;
            //サブアイテムクラス内の要素を真ん中で表示
            text-align: center;

            .p-sub-title {
                margin: .2em 0 0 0; //上右下左
                //border: solid medium $color--red;
                color: $color--white;
                font-size: 2.4rem;
                font-weight: 700;
            }

            .p-sentense {
                margin: .5em 0 0 0; //上右下左
                color: $color--white;
                font-weight: 700;
                //left, inline-blockで真ん中左詰め表示
                text-align: left;
                display: inline-block;
            }

            .circle {
                width: 218px;
                height: 218px;
                display: flex;
                //fontawesomeを左右真ん中に表示
                justify-content: center;
                //fontawesomeを上下真ん中に表示
                align-items: center;
                border-radius: 50%;
                border: solid 6px $color--black;
                background: $color--white;
            }

            i {
                font-size: 10rem;
            }
        }
    }
}





